<div class="d-flex " id="wrapper">

  <div class=" border-right " id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <p class="navbar-brand  d-flex justify-content-center  me-5" href="#">
      <img class="mt-3   " src="../../../assets/internet-of-things-icon-vector.png" height="70" alt="MDB Logo"
        loading="lazy" />
    </p>
    <div class="list-group list-group-flush mt-5">
      <a [routerLink]="['/home']" class="list-group-item list-group-item-action mb-3 fs-4"
        style="color: #ffffff; background-color: #6dafd0;">
        <i class=" fa fa-dashboard me-3 "></i>Dashboard</a>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-blog me-3"></i> <span>

                Blog
              </span>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show " data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a [routerLink]="['/blog']" class="text-decoration-none text-light fs-4  link-dash"> <i class="fa fa-blog me-3"></i>
               <span>Blog</span> </a>
            </div>
            <div class="accordion-body">
              <a href="" class="text-decoration-none text-light fs-4 link-dash" data-bs-toggle="modal"
                data-bs-target="#addBlog"><i class="fa fa-add me-3"></i> <span>Add Blog</span></a>
            </div>
            <!-- <div class="accordion-body">
              <a href="" [routerLink]="['/editblog']" class="text-decoration-none text-light fs-4"> <i
                  class="fa fa-edit me-3"></i> Edit
                Blog</a>
            </div> -->
          </div>
        </div>

      </div>

      <div class="accordion " id="accordionExample">
        <div class="accordion-item ">
          <h2 class="accordion-header">
            <button class="accordion-button  fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              <i class="fa fa-users me-3"></i> Users
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a [routerLink]="['/AllUser']" routerLinkActive="router-link-active"
                class="text-decoration-none text-light fs-4 link-dash"> <i class="fa fa-user me-3"></i><span>User</span> </a>
            </div>
            <div class="accordion-body">
              <a [routerLink]="['/addUser']" class="text-decoration-none text-light fs-4 link-dash" data-bs-toggle="modal"
                data-bs-target="#addUser">
                <i class="fa fa-add me-3"></i><span> Add User</span></a>
            </div>
            <!-- <div class="accordion-body">
              <a [routerLink]="['/editUser']" class="text-decoration-none text-light fs-4"><i
                  class="fa fa-edit me-3"></i>Edit User</a>
            </div> -->
          </div>
        </div>

      </div>

    </div>
  </div>


  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg ">

      <div class="container-fluid">
        <button class="btn btn-primary" id="togel" (click)="clickEvent()"><i class="fa fa-bars"
            style="color: #ffffff"></i></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav ms-auto d-flex flex-row">
            <button class="btn btn-primary" *ngIf="!loginAdmin" [routerLink]="['/login']">Login</button>


            <li class="nav-item dropdown" *ngIf="loginAdmin != null">
              <button class="Btn-logout" *ngIf="loginAdmin" (click)="logOut()">

                <div class="sign"><svg viewBox="0 0 512 512">
                    <path
                      d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                    </path>
                  </svg></div>
                <div class="text-out">Logout</div>
              </button>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid" >
      <!-- <app-Home></app-Home> -->
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
<!-- /#wrapper -->


<!-- add blog model -->
<div class="modal fade" id="addBlog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-info" id="exampleModalLabel">Add Blog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="send()">
          <div class="mb-3">
            <label class="form-label">Title Blog</label>
            <input type="text" formControlName="title" class="form-control">
            <div *ngIf="form.controls['title'].invalid && form.controls['title'].touched" class="invalid-feedback">
              <span *ngIf="form.controls['title'].hasError('required')">
                Please Provide a correct Title Blog name
              </span>
            </div>
            <div *ngIf="form.controls['title'].valid && form.controls['title'].touched" class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Blog Body</label>
            <textarea class="form-control" formControlName="body"></textarea>
            <div *ngIf="form.controls['body'].invalid && form.controls['body'].touched" class="invalid-feedback">
              <span *ngIf="form.controls['body'].hasError('required')">
                Please Provide a correct Blog body
              </span>
              <span *ngIf="form.controls['body'].hasError('minlength')">
                blog body must contain more than 30 letters.
              </span>
            </div>
            <div *ngIf="form.controls['body'].valid && form.controls['body'].touched" class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mb-3">
            <label for="">Blog Image</label>
            <input type="file" class="form-control" #imgInput (change)="chooseImage(imgInput)">
            <span *ngIf="!imageLoad">Photo is required</span>
          </div>
          <div class="modal-footer">

            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
              [disabled]="form.invalid && !imageLoad">Add Blog</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<!-- add users  -->