<!-- Main Navigation--> -->
<!-- <header> -->
  <!-- Sidebar -->
  <!-- <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white mt-3 ">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>DashBoard</span>
        </a>


        <div class="accordion mt-3" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button btn btn-primary p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-users me-3"></i>User
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <a routerLink="/AllUser" routerLinkActive="router-link-active"
                  class="text-decoration-none text-primary   "> <i class="fa fa-user me-3"></i>All User </a>
              </div>
              <div class="accordion-body">
                <a href="" class="text-decoration-none text-primary   "> <i class="fa fa-signal me-3"></i>Active user
                </a>
              </div>
            </div>
          </div>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-blog fa-fw me-3"></i><span>Blog</span></a>
        </div>
        <div class="accordion mt-3" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button btn btn-primary p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-blog me-3"></i>Blog
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <a routerLink="/blog" routerLinkActive="router-link-active" class="text-decoration-none text-primary">
                  <i class="fa fa-user me-3"></i>All Blog </a>
              </div>
              <div class="accordion-body">
                <a href="" class="text-decoration-none text-primary   "> <i class="fa fa-signal me-3"></i>Edit Blog </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav> -->
  <!-- Sidebar -->

  <!-- Navbar -->
  <!-- <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top "> -->
    <!-- Container wrapper -->
    <!-- <div class="container-fluid"> -->
      <!-- Toggle button -->
      <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button> -->

      <!-- Brand -->
      <!-- <a class="navbar-brand" href="#">
        <img src="../../../assets/image_2024-03-02_16-59-45.png" height="70" alt="MDB Logo" loading="lazy" />
      </a> -->

      <!-- Right links -->
      <!-- <ul class="navbar-nav ms-auto d-flex flex-row">
        <a routerLink="/login"><button class="btn btn-primary">login</button></a>
        <a class="nav-link me-3 me-lg-0" href="#" id="navbarDropdownMenuLink"><i
            class="fa-solid fa-right-from-bracket"></i>
        </a>
      </ul>
    </div>

  </nav> -->
  <!-- Navbar -->
<!-- </header> -->
<!--Main Navigation-->

<!--Main layout-->
<!-- <main style="margin-top: 58px;">
  <div class="container pt-4 ">


  </div>



</main> -->
<!-- <!--Main layout -->