<div class="container w-75">
    <div class="contant w-100" style="
      /* From https://css.glass */
      background: rgba(91, 189, 232, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);

      border: 1px solid rgba(91, 189, 232, 0.3);
    ">
        <form role="form text-left" [formGroup]="form" (ngSubmit)="sendReg()"
            class="w-100 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-info mt-3">Add User</h1>
            <div class="mb-3 w-50">
                <label class="ms-3 mb-2">User Name</label>
                <input type="text" formControlName="fullName" class="form-control rounded-4" aria-label="Name"
                    aria-describedby="email-addon" [ngClass]="{
          'is-invalid': form.controls['fullName'].invalid && form.controls['fullName'].touched,
          'is-valid': form.controls['fullName'].valid && form.controls['fullName'].touched,
          }" />
                <div *ngIf="
            form.controls['fullName'].invalid &&
            form.controls['fullName'].touched
          " class="invalid-feedback">
                    <span *ngIf="form.controls['fullName'].hasError('required')">
                        Please Provide a correct User fullName
                    </span>
                    <span *ngIf="form.controls['fullName'].hasError('minlength')">
                        User fullName must contain more than 3 letters.
                    </span>
                </div>
                <div *ngIf="
            form.controls['fullName'].valid && form.controls['fullName'].touched
          " class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 w-50">
                <label class="ms-3 mb-2">Email Address</label>
                <input type="email" class="form-control rounded-4" aria-label="Email" aria-describedby="email-addon"
                    formControlName="email" [ngClass]="{
       'is-invalid': form.controls['email'].invalid && form.controls['email'].touched,
       'is-valid': form.controls['email'].valid && form.controls['email'].touched,
        }" />
                <div *ngIf="
            form.controls['email'].invalid && form.controls['email'].touched
          " class="invalid-feedback">
                    <span *ngIf="
              form.controls['email'].hasError('required') ||
              form.controls['email'].hasError('email')
            ">
                        Please Provide a correct Email Address
                    </span>
                </div>
                <div *ngIf="form.controls['email'].valid && form.controls['email'].touched" class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 w-50">
                <label class="ms-3 mb-2">Password</label>
                <input type="password" class="form-control rounded-4" aria-label="Password"
                    aria-describedby="password-addon" formControlName="password" [ngClass]="{
         'is-invalid': form.controls['password'].invalid && form.controls['password'].touched,
        'is-valid': form.controls['password'].valid && form.controls['password'].touched,
             }" />
                <div *ngIf="
            form.controls['password'].invalid &&
            form.controls['password'].touched
          " class="invalid-feedback">
                    <span *ngIf="form.controls['password'].hasError('required')">
                        Please Provide a correct password
                    </span>
                    <span *ngIf="form.controls['password'].hasError('minlength')">
                        password must contain more than 8 letters it can be: Numbers or
                        Alphabatic letters or Special Characters
                    </span>
                </div>
                <div *ngIf="
            form.controls['password'].valid && form.controls['password'].touched
          " class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 w-50">
                <label class="ms-3 mb-2">Phone Number</label>
                <input type="tel" formControlName="phoneNumber" class="form-control rounded-4" aria-label="Phone"
                    aria-describedby="phoneNumber-addon" [ngClass]="{
                            'is-invalid': form.controls['phoneNumber'].invalid && form.controls['phoneNumber'].touched,
                                    'is-valid': form.controls['phoneNumber'].valid && form.controls['phoneNumber'].touched,
                                    }" />
                <div *ngIf="
            form.controls['phoneNumber'].invalid &&
            form.controls['phoneNumber'].touched
          " class="invalid-feedback">
                    <span *ngIf="form.controls['phoneNumber'].hasError('required')">
                        Please Provide a correct Phone Number
                    </span>
                    <span *ngIf="form.controls['phoneNumber'].hasError('minlength')">
                        Phone Number must contain more than 11 letters
                    </span>
                </div>
                <div *ngIf="
            form.controls['phoneNumber'].valid &&
            form.controls['phoneNumber'].touched
          " class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3 w-50">
                <label class="ms-3 mb-2">National Id</label>
                <input type="tel" formControlName="nationalId" class="form-control rounded-4" aria-label="Phone"
                    aria-describedby="nationalId-addon" [ngClass]="{
                                    'is-invalid': form.controls['nationalId'].invalid && form.controls['nationalId'].touched,
                                    'is-valid': form.controls['nationalId'].valid && form.controls['nationalId'].touched,
                                    }" />
                <div *ngIf="
            form.controls['nationalId'].invalid &&
            form.controls['nationalId'].touched
          " class="invalid-feedback">
                    <span *ngIf="form.controls['nationalId'].hasError('required')">
                        Please Provide a correct National Id
                    </span>
                    <span *ngIf="form.controls['nationalId'].hasError('minlength')">
                        National Id must contain more than 14 letters
                    </span>
                </div>
                <div *ngIf="
            form.controls['nationalId'].valid &&
            form.controls['nationalId'].touched
          " class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 w-50">
                <label class="ms-3 mb-2">address</label>
                <input type="tel" formControlName="address" class="form-control rounded-4" aria-label="Phone"
                    aria-describedby="address-addon" [ngClass]="{
                                    'is-invalid': form.controls['address'].invalid && form.controls['address'].touched,
                                    'is-valid': form.controls['address'].valid && form.controls['address'].touched,
                                    }" />
                <div *ngIf="
            form.controls['address'].invalid && form.controls['address'].touched
          " class="invalid-feedback">
                    <span *ngIf="form.controls['address'].hasError('required')">
                        Please Provide a correct Address
                    </span>
                </div>
                <div *ngIf="
            form.controls['address'].valid && form.controls['address'].touched
          " class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="text-center">
                <button type="submit" data-bs-dismiss="modal" [disabled]="form.invalid"
                    class="btn bg-gradient-dark w-100 my-4 mb-4 btn-primary">
                    Add User
                </button>
            </div>
        </form>
    </div>
</div>