

<!-- <app-SideNav></app-SideNav> -->

<div class="d-flex flex-row mt-5 mb-5">
  <app-ngx-chart></app-ngx-chart>

  <app-UserChart></app-UserChart>
</div>


   <app-TestChart></app-TestChart>



    
<table class="table table-striped table-bordered border-primary mt-5 table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><i class="fa-regular fa-circle-user me-2" style="color: #477fe1;"></i>User Name</th>
        <th scope="col"><i class="fa-regular fa-envelope me-2 " style="color: #477fe1; "></i>Email</th>
        <th scope="col"> <i class="fa-solid fa-mobile-screen me-2" style="color: #477fe1;"></i>Phone </th>
        <th scope="col"><i class="fa-solid fa-id-card me-2" style="color: #477fe1;"></i>National Id </th>
        <th scope="col"><i class="fa-solid fa-location-crosshairs me-2" style="color: #477fe1;"></i>Address </th>
      
      </tr>
    </thead>
    <tbody>
  
      <tr *ngFor="let item of listUsers; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.fullName}} </td>
        <td>{{item.email}}</td>
        <td>{{item.phoneNumber}}</td>
        <td>{{item.nationalId}}</td>
        <td>{{item.address}}</td>
       
      </tr>
  
    </tbody>
  
  </table>
  

  <!-- <app-BlogDetails></app-BlogDetails> -->