/* third section */

.third-card img {
  width: 500px;
  border-radius: 15px;
  margin: 25px 0px;
}

.third-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-card-paragraph {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  padding: 35px 15px;
  margin-bottom: 35px;

  background-image: url(../../../assets/14542.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 35px;
}


.third-card-paragraph:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  transition: all .2s;
}



.third-card-paragraph {
 
}
.contant{
  /* From https://css.glass */

}


.third-card-paragraph h1 {
  /* width: 40%; */
  line-height: 35px;
  color: #ffffff;
  margin-left: 15px;
}

.third-card-paragraph h6 {
  margin: 15px 15px;
  color: #ffffff;
}



.contant-comment {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.892);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.7px);

border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 10px;
  
}





.contant-comment .info-comment{
  display: flex;
  flex-direction: row;
  align-items: center !important;
}
.contant-comment .info-comment .userName {
  margin-bottom: 0px !important;
  color: #1500ff;
}
.contant-comment .info-comment >span{
  font-size: 12px;
  margin-left: 10px; 
  margin-top: 7px;

}



@media only screen and (max-width: 800px) {
  .third-card img {
    width: 600px;

  }


}


@media only screen and (max-width: 500px) {
  .third-card img {
    width: 470px;

  }


}


/* like button */

.like-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Btn-like {
  width: 140px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  cursor: pointer;
  background-color: transparent;
}

.leftContainer {
  width: 60%;
  height: 100%;
  background-color: rgb(238, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.leftContainer .like {
  color: white;
  font-weight: 600;
}

.likeCount {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 0, 0);
  font-weight: 600;
  position: relative;
  background-color: white;
}

.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  left: -4px;
}

.Btn-like:hover .leftContainer {
  background-color: rgb(219, 0, 0);
}

.Btn-like:active .leftContainer {
  background-color: rgb(201, 0, 0);
}

.Btn-like:active .leftContainer svg {
  transform: scale(1.15);
  transform-origin: top;
}







.button-goBack {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button-goBack:before,
.button-goBack:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button-goBack:before {
  border: 4px solid #000000;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-goBack:after {
  border: 4px solid #000000;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button-goBack:hover:before,
.button-goBack:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button-goBack:hover:after,
.button-goBack:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;

  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 22px 18px 0 18px;
  transform: rotate(180deg);
  fill: #ffffff;
}

.button-goBack:hover .button-box,
.button-goBack:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

.go-back{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 25px;
}
.go-back >span{
font-size: 18px;
font-weight: bold;
color: #ffffff;
cursor: pointer;
}