<section class="third-section ">
  <div class=" third-card">
    <img [src]="blog.image" [alt]="blog.title" />
    <div class="third-card-paragraph">

      <div class="contant">
        <h1> {{blog.title}} </h1>
        <h6>
          {{blog.body}}
        </h6>
        <div *ngFor="let item of comments" class="contant-comment">
          <div class="info-comment">
            <p class="userName">{{item.userId.fullName}}</p>
            <span>{{item.createdAt|date:'short'}}</span>
          </div>
          <p> {{item.comment}}</p>

        </div>
      </div>

<div class="like-button">

  <div class="go-back">
    <button class="button-goBack" [routerLink]="['/blog']">
          <div class="button-box">
            <span class="button-elem">
              <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                </path>
              </svg>
            </span>
            <span class="button-elem">
              <svg viewBox="0 0 46 40">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                </path>
              </svg>
            </span>
          </div>
        </button>
        <span>Go Back</span>
      </div>
      
      <div class="like-btn">
        
        <button class="Btn-like" disabled="off">
          <span class="leftContainer">
            <svg fill="white" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg">
              <path
              d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
            </path>
          </svg>
          <span class="like">Like</span>
        </span>
        <span class="likeCount">
          {{blog.likes}}
        </span>
      </button>
    </div>
  </div>
  
</div>
</div>

</section>