<div class="container w-75 "> 
  <form [formGroup]="form" (ngSubmit)="send()"> 
     <!-- <form (ngSubmit)="send()"> -->
<h1 class="text-center m-5 text-info">Add Blog</h1>
  
    <div class="mb-3">
      <label class="form-label">Title Blog</label>
      <input type="text" formControlName="title" class="form-control" >
      <div *ngIf="form.controls['title'].invalid && form.controls['title'].touched" class="invalid-feedback">
        <span *ngIf="form.controls['title'].hasError('required')">
          Please Provide a correct Title Blog name
        </span>
      </div>
      <div *ngIf="form.controls['title'].valid && form.controls['title'].touched" class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Blog Body</label>
      <textarea class="form-control" formControlName="body" ></textarea>
      <div *ngIf="form.controls['body'].invalid && form.controls['body'].touched"
        class="invalid-feedback">
        <span *ngIf="form.controls['body'].hasError('required')">
          Please Provide a correct Blog body
        </span>
        <span *ngIf="form.controls['body'].hasError('minlength')">
          blog body must contain more than 30 letters.
        </span>
      </div>
      <div *ngIf="form.controls['body'].valid && form.controls['body'].touched" class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="mb-3">
      <label for="">Blog Image</label>
      <input type="file" class="form-control" #imgInput (change)="chooseImage(imgInput)">
      <span *ngIf="!imageLoad">Photo is required</span>
    </div>
    
    <button type="submit"  class="btn btn-primary" [disabled]="form.invalid && !imageLoad">Add Blog</button>
  </form>
</div>