
<!-- model edit -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4 text-center  text-info" id="exampleModalLabel">Edit Blog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container  ">
          <!-- <form [formGroup]="editBlogForm" (ngSubmit)="onSubmit()"> -->
          <!-- <form [formGroup]="editBlogForm" (ngSubmit)="onSubmit()"> -->
            <!-- <h1 class="">Add Blog</h1> -->

            <div class="mb-3">
              <label class="form-label">Title Blog</label>
              <input type="text" formControlName="title" class="form-control">
              <div *ngIf="editBlogForm.controls['title'].invalid && editBlogForm.controls['title'].touched" class="invalid-feedback">
                <span *ngIf="editBlogForm.controls['title'].hasError('required')">
                  Please Provide a correct Title Blog title
                </span>
              </div>
              <div *ngIf="editBlogForm.controls['title'].valid && editBlogForm.controls['title'].touched" class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Blog Body</label>
              <textarea class="form-control" formControlName="body"></textarea>
              <div *ngIf="editBlogForm.controls['body'].invalid && editBlogForm.controls['body'].touched"
                class="invalid-feedback">
                <span *ngIf="editBlogForm.controls['body'].hasError('required')">
                  Please Provide a correct Blog body
                </span>
                <span *ngIf="editBlogForm.controls['body'].hasError('minlength')">
                  Product body must contain more than 30 letters.
                </span>
              </div>
              <div *ngIf="editBlogForm.controls['body'].valid && editBlogForm.controls['body'].touched"
                class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="">Blog Image</label>
              <input type="file" class="form-control" (change)="onFileChange($event)" >
            </div>

            <div class="modal-footer">

              <button type="submit" [disabled]="editBlogForm.invalid" class="btn btn-primary">Update Blog</button>
            </div>
          <!-- </form> -->
        </div>

      </div>
    </div>
  </div>
</div>


























<!-- 



<div class="container me-5 d-flex  flex-wrap ">

  <div class="card me-5 mt-5" style="width: 18rem;" *ngFor="let item of blogServ">
    <img [src]="item.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h6>Id :{{item.id}}</h6>
      <h5 class="card-title">Title: {{item.title}}</h5>
      <p class="card-text">description: {{item.description}}</p>
      <h6>Count Like: {{item.countLike}}</h6>
      <h6>Comment: {{item.comment}}</h6>

      <button class="button-delet-blog mt-4" type="button" >
        <span class="button__text">Delete</span>
        <span class="button__icon"><svg class="svg" height="512" viewBox="0 0 512 512" width="512"
            xmlns="http://www.w3.org/2000/svg">
            <title></title>
            <path d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320"
              style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
            <line style="stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" x1="80" x2="432"
              y1="112" y2="112"></line>
            <path d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40"
              style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
            <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="256"
              x2="256" y1="176" y2="400"></line>
            <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="184"
              x2="192" y1="176" y2="400"></line>
            <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="328"
              x2="320" y1="176" y2="400"></line>
          </svg></span>
      </button>
    </div>

  </div>
</div> -->