/* input search */
#search {
  display: grid;
  grid-area: search;
  grid-template:
    "search" 60px
    / 420px;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 35px;

}

#search input {
  display: block;
  grid-area: search;
  appearance: none;
  width: 100%;
  height: 100%;
  background: none;
  padding: 0 30px 0 60px;
  border: none;
  border-radius: 100px;
  font: 24px/1 system-ui, sans-serif;
  outline-offset: -8px;
}


#search svg {
  grid-area: search;
  overflow: visible;
  color: #c2ddf8;
  fill: none;
  stroke: currentColor;
}

.spark {
  fill: currentColor;
  stroke: none;
  r: 15;
}

.spark:nth-child(1) {
  animation:
    spark-radius 2.03s 1s both,
    spark-one-motion 2s 1s both;
}

@keyframes spark-radius {
  0% {
    r: 0;
    animation-timing-function: cubic-bezier(0, 0.3, 0, 1.57)
  }

  30% {
    r: 15;
    animation-timing-function: cubic-bezier(1, -0.39, 0.68, 1.04)
  }

  95% {
    r: 8
  }

  99% {
    r: 10
  }

  99.99% {
    r: 7
  }

  100% {
    r: 0
  }
}

@keyframes spark-one-motion {
  0% {
    transform: translate(-20%, 50%);
    animation-timing-function: cubic-bezier(0.63, 0.88, 0, 1.25)
  }

  20% {
    transform: rotate(-0deg) translate(0%, -50%);
    animation-timing-function: ease-in
  }

  80% {
    transform: rotate(-230deg) translateX(-20%) rotate(-100deg) translateX(15%);
    animation-timing-function: linear
  }

  100% {
    transform: rotate(-360deg) translate(30px, 100%);
    animation-timing-function: cubic-bezier(.64, .66, 0, .51)
  }
}

.spark:nth-child(2) {
  animation:
    spark-radius 2.03s 1s both,
    spark-two-motion 2.03s 1s both;
}

@keyframes spark-two-motion {
  0% {
    transform: translate(120%, 50%) rotate(-70deg) translateY(0%);
    animation-timing-function: cubic-bezier(0.36, 0.18, 0.94, 0.55)
  }

  20% {
    transform: translate(90%, -80%) rotate(60deg) translateY(-80%);
    animation-timing-function: cubic-bezier(0.16, 0.77, 1, 0.4)
  }

  40% {
    transform: translate(110%, -50%) rotate(-30deg) translateY(-120%);
    animation-timing-function: linear
  }

  70% {
    transform: translate(100%, -50%) rotate(120deg) translateY(-100%);
    animation-timing-function: linear
  }

  80% {
    transform: translate(95%, 50%) rotate(80deg) translateY(-150%);
    animation-timing-function: cubic-bezier(.64, .66, 0, .51)
  }

  100% {
    transform: translate(100%, 50%) rotate(120deg) translateY(0%)
  }
}

.spark:nth-child(3) {
  animation:
    spark-radius 2.05s 1s both,
    spark-three-motion 2.03s 1s both;
}

@keyframes spark-three-motion {
  0% {
    transform: translate(50%, 100%) rotate(-40deg) translateX(0%);
    animation-timing-function: cubic-bezier(0.62, 0.56, 1, 0.54)
  }

  30% {
    transform: translate(40%, 70%) rotate(20deg) translateX(20%);
    animation-timing-function: cubic-bezier(0, 0.21, 0.88, 0.46)
  }

  40% {
    transform: translate(65%, 20%) rotate(-50deg) translateX(15%);
    animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62)
  }

  60% {
    transform: translate(60%, -40%) rotate(-50deg) translateX(20%);
    animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62)
  }

  70% {
    transform: translate(70%, -0%) rotate(-180deg) translateX(20%);
    animation-timing-function: cubic-bezier(0.15, 0.48, 0.76, 0.26)
  }

  100% {
    transform: translate(70%, -0%) rotate(-360deg) translateX(0%) rotate(180deg) translateX(20%);
  }
}




.burst {
  stroke-width: 3;
}

.burst :nth-child(2n) {
  color: #ff783e
}

.burst :nth-child(3n) {
  color: #ffab00
}

.burst :nth-child(4n) {
  color: #55e214
}

.burst :nth-child(5n) {
  color: #82d9f5
}

.circle {
  r: 6;
}

.rect {
  width: 10px;
  height: 10px;
}

.triangle {
  d: path("M0,-6 L7,6 L-7,6 Z");
  stroke-linejoin: round;
}

.plus {
  d: path("M0,-5 L0,5 M-5,0L 5,0");
  stroke-linecap: round;
}




.burst:nth-child(4) {
  transform: translate(30px, 100%) rotate(150deg);
}

.burst:nth-child(5) {
  transform: translate(50%, 0%) rotate(-20deg);
}

.burst:nth-child(6) {
  transform: translate(100%, 50%) rotate(75deg);
}

.burst * {}

@keyframes particle-fade {

  0%,
  100% {
    opacity: 0
  }

  5%,
  80% {
    opacity: 1
  }
}

.burst :nth-child(1) {
  animation: particle-fade 600ms 2.95s both, particle-one-move 600ms 2.95s both;
}

.burst :nth-child(2) {
  animation: particle-fade 600ms 2.95s both, particle-two-move 600ms 2.95s both;
}

.burst :nth-child(3) {
  animation: particle-fade 600ms 2.95s both, particle-three-move 600ms 2.95s both;
}

.burst :nth-child(4) {
  animation: particle-fade 600ms 2.95s both, particle-four-move 600ms 2.95s both;
}

.burst :nth-child(5) {
  animation: particle-fade 600ms 2.95s both, particle-five-move 600ms 2.95s both;
}

.burst :nth-child(6) {
  animation: particle-fade 600ms 2.95s both, particle-six-move 600ms 2.95s both;
}

@keyframes particle-one-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
  }

  100% {
    transform: rotate(-20deg) translateX(8%) scale(0.5, 0.5)
  }
}

@keyframes particle-two-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
  }

  100% {
    transform: rotate(0deg) translateX(8%) scale(0.5, 0.5)
  }
}

@keyframes particle-three-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
  }

  100% {
    transform: rotate(20deg) translateX(8%) scale(0.5, 0.5)
  }
}

@keyframes particle-four-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
  }

  100% {
    transform: rotate(-35deg) translateX(12%)
  }
}

@keyframes particle-five-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
  }

  100% {
    transform: rotate(0deg) translateX(12%)
  }
}

@keyframes particle-six-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001)
  }

  100% {
    transform: rotate(35deg) translateX(12%)
  }
}



.bar {
  width: 100%;
  height: 100%;
  ry: 50%;
  stroke-width: 10;
  animation: bar-in 900ms 3s both;
}

@keyframes bar-in {
  0% {
    stroke-dasharray: 0 180 0 226 0 405 0 0
  }

  100% {
    stroke-dasharray: 0 0 181 0 227 0 405 0
  }
}

.magnifier {
  animation: magnifier-in 600ms 3.6s both;
  transform-box: fill-box;
}

@keyframes magnifier-in {
  0% {
    transform: translate(20px, 8px) rotate(-45deg) scale(0.01, 0.01);
  }

  50% {
    transform: translate(-4px, 8px) rotate(-45deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.magnifier .glass {
  cx: 27;
  cy: 27;
  r: 8;
  stroke-width: 3;
}

.magnifier .handle {
  x1: 32;
  y1: 32;
  x2: 44;
  y2: 44;
  stroke-width: 3;
}



#results {
  grid-area: results;
  background: hsl(0, 0%, 95%);
}




.contant1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  
}




.card {
  position: relative;
  width: 360px;
  aspect-ratio: 16/9;
  /* background-color: #f2f2f2; */
  /* border-radius: 10px; */
  
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px 20px 35px ;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  width: 350px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 10px;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 15px;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.card:hover img {
  scale: 0;
}

.card__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #000000;
  line-height: 1.4;
}

.postedBy{
  display: flex;
  flex-direction: row;

}












/* 
.conteiner {
  margin-left: 25px;
  margin-bottom: 25px;
}

.post {
  width: 350px;
  height: 500px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;

  &:hover {
    .header_post {
      margin-top: -20px;
    }

    .body_post {
      height: 50%;
    }

    img {
      transform: translatey(-10px) translatex(-5px) scale(1.05);
      border-radius: 25px;
    }
  }

  .header_post {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;

    img {
      max-width: 100%;
      height: auto;
      transition: ease-in-out 600ms;
      border-radius: 25px;
    }
  }

  .body_post {
    width: 100%;
    height: 60%;
    background: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    cursor: pointer;

    .post_content {
      width: 80%;
      height: 80%;
      background: #fff;
      position: relative;

      .title-blog {
        font-size: 20px;
        font-weight: bold;
      }

      .body-blog {
        font-size: 14px;
        font-weight: normal;
      }

      .container_infos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        padding-top: 25px;

        .postedBy {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 12px;
        }

        .container_tags {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}



 */







.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* edit button */
.Btn-Edit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #002c5f;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: #57a1cf;
  transition-duration: .3s;
  margin-left: 35px;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn-Edit:hover {
  color: transparent;
}

.Btn-Edit:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn-Edit:active {
  transform: translate(3px, 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}